/*===========Styling for the Table===========*/

table {
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial,helvetica,sans-serif;
}
/*===========Styling for the Input===========*/
input {
    width: 100%;
    font-size: 2em;
    text-align: right;
    background-color: #4e494d;
    border: 0px;
    color: #fff;
}
/*===========Styling for the Digits===========*/
td {
    width: 25vw;
  border: 1 solid #4e494d;
}

tr {
    height: 16.02vh;
    background-color: #4e494d;
}

/*===========Styling for the Operator Buttons===========*/
.operatorBtn{
    background-color: #ff9e46;
}


.equalsBtn{
    background-color: #ff9e46; !important;
}


.ACBtn{
    background-color: #656165;
}
